html {
    height: 100%;
}

body {
    background-image: url('background.jpg');
    background-position: center center;
    background-size: auto 100%;
    overflow: hidden;
}

footer {
    background-color: white;
    bottom: 0;
    font-family: arial;
    margin: 10px;
    opacity: 0.75;
    position: absolute;
    right: 0;
    text-align: right;
    width: min(600px, 100%);
}

footer p {
    margin: 5px;
}

.preload {
    display: none;
}

img.card {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    position: absolute;
    user-select: none
}
